* {
  margin: 0;
  padding: 0;
}
header {
  width: 1485px;
  height: 300px;
}
.hide {
  display: none;
}
.details {
  padding: 130px;
}
.character-info {
  font-family: "Cousine", monospace;
}
.homeworld-info {
  font-family: "Cousine", monospace;
}
.header-image {
  width: 100%;
  height: 100%;
  background-image: url("earth.jpg");
  background-position: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.character {
  font-family: "Cousine", monospace;
  margin-bottom: 10px;
  font-size: 20px;
}
.heading {
  color: #fbc63f;
  font-size: 60px;
  margin-inline: 20px;
  margin-bottom: 100px;
  font-family: "Cousine", monospace;
}
.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b5b5b5;
  width: 484px;
  height: 684px;
  margin-top: -40px;
  gap: 40px;
}
.names {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.nav-api {
  display: flex;
  align-items: center;
}

.section-two {
  background-color: #999;
  width: 484px;
  height: 684px;
  margin-top: -40px;
}
